<footer class="footer">
  <p>
    {{#if page.attributes.copyright-holder}}
    &copy; 2001-{{year}} {{page.attributes.copyright-holder}}. All Rights reserved | <a target="_blank" href="https://www.avantra.com/en/privacy">Privacy Policy</a>
    {{/if}}
    | <a target="_blank" href="https://www.avantra.com/intellectual-property-notice">IP Notice</a>
  </p>
  {{#if page.attributes.last-updated}}
    <p class="updated">Last updated: {{page.attributes.last-updated}}</p>
  {{else}}
    {{#if page.attributes.last-generated}}
    <p class="updated">Last generated: {{page.attributes.last-generated}}</p>
    {{/if}}
  {{/if}}
</footer>
