{{!-- <script type="text/javascript">
  window.antora = window.antora || {}
  window.antora.basePath = '{{or siteRootPath (or site.url siteRootUrl)}}'
  window.antora.pagePath = '{{@root.page.url}}'
</script> --}}
<script src="{{uiRootPath}}/js/site-{{build.version}}.js"></script>
{{#if env.SITE_SEARCH_PROVIDER}}
{{> search-scripts}}
{{/if}}
<script async src="{{uiRootPath}}/js/vendor/highlight.js"></script>
{{#if site.keys.google_analytics}}
<script async src="https://www.googletagmanager.com/gtag/js?id={{site.keys.google_analytics}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{site.keys.google_analytics}}');
</script>
{{/if}}
