<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://www.avantra.com">
        <img class="logo-horizontal" src="{{uiRootPath}}/img/Avantra-logo-horizontal-full-colours.svg" alt="Avantra Logo">
        <img class="logo-stacked" src="{{uiRootPath}}/img/Avantra-logo-stacked-full-colours.svg" alt="Avantra Logo">
      </a>
      {{#if env.DOCSEARCH_ENABLED}}
        <div class="navbar-item">
          <input id="search-input" type="text" placeholder="Search docs">
        </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        {{#if env.DOWNLOAD_ZIP}}
        <a class="navbar-item"
           href="/{{env.DOWNLOAD_ZIP}}"
           title="Download Offline Documentation">
          <i class="fa fa-solid fa-download"></i>
        </a>
        <a class="navbar-item" href="https://www.avantra.com">avantra.com</a>
        {{else}}
        <div class="navbar-item">
          <div>
            <div>Offline Version</div>
            <div><center><b>{{env.DOCBUILDVERSION}}</b></center></div>
          </div>
        </div>
        {{/if}}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="{{site.url}}">Docs</a>
          <div class="navbar-dropdown">
            {{#each site.components}}
            <a class="navbar-item{{#if (eq this @root.page.component)}} is-current{{/if}}" href="{{{relativize ./url}}}">{{{./title}}}</a>
            {{/each}}
          </div>
        </div>
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="https://hub.avantra.com">Get Avantra</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>

