    {{!-- Add additional meta tags here --}}
    {{#if env.BITBUCKET_BUILD_NUMBER}}
    <meta name="avantra.build-number" content="{{env.BITBUCKET_BUILD_NUMBER}}">
    {{/if}}
    {{#if env.BITBUCKET_COMMIT}}
    <meta name="avantra.commit" content="{{env.BITBUCKET_COMMIT}}">
    {{/if}}
    {{#if env.BITBUCKET_TAG}}
    <meta name="avantra.tag" content="{{env.BITBUCKET_TAG}}">
    {{/if}}
    {{#if env.BITBUCKET_BRANCH}}
    <meta name="avantra.branch" content="{{env.BITBUCKET_BRANCH}}">
    {{/if}}
