<link rel="apple-touch-icon" sizes="180x180" href="{{uiRootPath}}/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{uiRootPath}}/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{uiRootPath}}/img/favicon-16x16.png">
<link rel="manifest" href="{{uiRootPath}}/img/site.webmanifest">
<link rel="mask-icon" href="{{uiRootPath}}/img/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="{{uiRootPath}}/img/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">
