{{#if site.keys.googleAnalytics}}
  <script type="module" src="{{uiRootPath}}/js/vendor/google-analytics-banner.esm.js"></script>
  <script nomodule src="{{uiRootPath}}/js/vendor/google-analytics-banner.js"></script>
{{/if}}
