<main class="article">
{{> toolbar}}
  <div class="content">
{{> article}}
{{> toc}}
  </div>
</main>
{{#if site.keys.googleAnalytics}}
  <google-analytics-banner tracking-id="{{site.keys.googleAnalytics}}"></google-analytics-banner>
{{/if}}

