aside.toc.sidebar {
  display: none;
  order: 1;
  flex: none;
  /* NOTE lock flex width to width of container */
  width: 100%;
}

.body {
  word-wrap: break-word; /* aka overflow-wrap; used when hyphens are disabled or don't do the trick */
}

@media screen and (min-width: 1024px) {
  .body {
    display: flex;
  }
}

@media screen and (min-width: 1350px) {
  aside.toc.embedded {
    display: none;
  }

  aside.toc.sidebar {
    display: block;
  }
}
