@font-face {
  font-family: 'FontXandria';
  font-weight: normal;
  font-style: normal;
  src:
    local("FontXandria"),
    url(../font/xandria.woff) format("woff");
}

.fx {
  display: inline-block;
  font: normal normal normal 14px/1 FontXandria, serif;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
