:root {
  /* colors */

  /* Avantra colors */
  --color-brand-blue: hsl(194, 100%, 34%);
  --color-brand-grey-light: hsl(195, 4%, 95%);
  --color-brand-grey-lighter: hsl(195, 4%, 92%);
  --color-brand-grey: hsl(195, 4%, 82%);
  --color-brand-grey-darker: hsl(195, 4%, 72%);
  --color-brand-grey-dark: hsl(195, 4%, 67%);
  --color-brand-navy-darker: hsl(216, 60%, 8%);
  --color-brand-navy: hsl(216, 60%, 18%);
  --color-brand-navy-lighter: hsl(216, 60%, 38%);
  --color-brand-navy-light: hsl(216, 60%, 58%);
  --color-brand-purple: hsl(247, 60%, 29%);
  --color-brand-purple-lighter: hsl(247, 60%, 39%);
  --color-brand-orange: hsl(21, 70%, 52%);
  --color-draft-red: hsl(357, 69%, 49%);
  --color-draft-green: hsl(133, 30%, 25%);
  --color-white: #fff;
  --color-smoke-10: #fefefe;
  --color-smoke-30: #fafafa;
  --color-smoke-50: #f5f5f5;
  --color-smoke-70: #f0f0f0;
  --color-smoke-90: #e1e1e1;
  --color-gray-10: #c1c1c1;
  --color-gray-30: #8e8e8e;
  --color-gray-50: #808080;
  --color-gray-70: #5d5d5d;
  --color-jet-20: #4a4a4a;
  --color-jet-30: #424242;
  --color-jet-50: #333;
  --color-jet-70: #222;
  --color-jet-80: #191919;
  --color-black: #000;
  /* fonts */
  --rem-base: 18; /* used to compute rem value from desired pixel value (e.g., calc(18 / var(--rem-base) * 1rem) = 18px) */
  --body-font-size: 1.0625em; /* 17px */
  --body-font-size--desktop: 1.125em; /* 18px */
  --body-font-size--print: 0.9375em; /* 15px */
  --body-line-height: 1.15;
  --body-font-color: var(--color-brand-navy);
  --body-font-family: "Work Sans", sans-serif;
  --body-font-weight-bold: 500;
  --monospace-font-family: "Roboto Mono", monospace;
  --monospace-font-weight-bold: 500;
  --monospace-font-size: calc(15 / var(--rem-base) * 1rem);
  /* base */
  --body-background: var(--color-white);
  --panel-background: var(--color-smoke-30);
  --panel-border-color: var(--color-brand-grey-light);
  --scrollbar-thumb-color: var(--color-gray-10);
  /* navbar */
  --navbar-background: var(--color-brand-grey);
  --navbar-font-color: var(--color-brand-navy);
  --navbar-hover-background: var(--color-brand-grey-darker);
  --navbar-button-background: var(--color-white);
  --navbar-button-border-color: var(--panel-border-color);
  --navbar-button-font-color: var(--body-font-color);
  --navbar-menu-border-color: var(--panel-border-color);
  --navbar-menu-background: var(--color-white);
  --navbar-menu-font-color: var(--body-font-color);
  --navbar-menu-hover-background: var(--color-smoke-50);
  /* nav */
  --nav-background: var(--panel-background);
  --nav-border-color: var(--color-brand-grey-dark);
  --nav-line-height: 1.35;
  --nav-heading-font-color: var(--color-jet-30);
  --nav-muted-color: var(--color-gray-70);
  --nav-panel-divider-color: var(--color-smoke-90);
  --nav-secondary-background: var(--color-smoke-70);
  /* toolbar */
  --toolbar-background: var(--color-smoke-10);
  --toolbar-border-color: var(--color-smoke-10);
  --toolbar-font-color: var(--color-brand-navy-lighter);
  --toolbar-muted-color: var(--color-brand-navy-light);
  --page-version-menu-background: var(--color-smoke-70);
  --page-version-missing-font-color: var(--color-gray-30);
  /* toc */
  --toc-font-color: var(--nav-muted-color);
  --toc-heading-font-color: var(--doc-font-color);
  --toc-border-color: var(--panel-border-color);
  --toc-line-height: 1.2;
  /* admonitions */
  --caution-color: var(--color-brand-purple);
  --caution-on-color: var(--color-white);
  --important-color: var(--color-draft-red);
  --important-on-color: var(--color-white);
  --note-color: var(--color-brand-blue);
  --note-on-color: var(--color-white);
  --tip-color: var(--color-draft-green);
  --tip-on-color: var(--color-white);
  --warning-color: var(--color-brand-orange);
  --warning-on-color: var(--color-white);
  /* doc */
  --doc-font-color: var(--color-brand-navy);
  --doc-font-size: inherit;
  --doc-font-size--desktop: calc(17 / var(--rem-base) * 1rem);
  --doc-line-height: 1.6;
  --doc-margin: 0 auto;
  --doc-margin--desktop: 0 2rem;
  --heading-font-color: var(--color-brand-navy-darker);
  --heading-font-weight: 300;
  --small-heading-font-weight: 500;
  --alt-heading-font-weight: var(--body-font-weight-bold);
  --section-divider-color: var(--panel-border-color);
  --link-font-color: var(--color-brand-orange);
  --link-hover-font-color: var(--color-brand-purple-lighter);
  --link-unresolved-font-color: var(--important-color);
  --abstract-background: var(--color-smoke-70);
  --abstract-font-color: var(--color-jet-20);
  --abstract-border-color: var(--panel-border-color);
  --admonition-background: var(--panel-background);
  --admonition-label-font-weight: var(--body-font-weight-bold);
  --caption-font-color: var(--color-brand-navy-darker);
  --caption-font-weight: var(--body-font-weight-bold);
  --code-background: var(--panel-background);
  --code-font-color: var(--body-font-color);
  --example-background: var(--color-white);
  --example-border-color: var(--color-brand-blue);
  --example-border-width: 0.05rem;
  --example-border-radius: 0.25rem;
  --kbd-background: var(--panel-background);
  --kbd-border-color: var(--color-gray-10);
  --pre-background: var(--panel-background);
  --pre-border-color: var(--panel-border-color);
  --pre-annotation-font-color: var(--color-gray-10);
  --quote-background: var(--panel-background);
  --quote-border-color: var(--color-gray-70);
  --quote-font-color: var(--color-gray-70);
  --quote-attribution-font-color: var(--color-gray-30);
  --sidebar-background: var(--color-smoke-90);
  --table-border-color: var(--panel-border-color);
  /* footer */
  --footer-line-height: var(--doc-line-height);
  --footer-background: var(--color-brand-grey-dark);
  --footer-font-color: var(--color-brand-navy);
  --footer-link-font-color: var(--color-brand-purple);
  /* dimensions */
  --navbar-height: calc(63 / var(--rem-base) * 1rem);
  --toolbar-height: calc(45 / var(--rem-base) * 1rem);
  --drawer-height: var(--toolbar-height);
  --body-top: var(--navbar-height);
  --body-min-height: calc(100vh - var(--body-top));
  --nav-height: calc(var(--body-min-height) - var(--toolbar-height));
  --nav-height--desktop: var(--body-min-height);
  --nav-panel-height: calc(var(--nav-height) - var(--drawer-height));
  --nav-panel-height--desktop: calc(var(--nav-height--desktop) - var(--drawer-height));
  --nav-width: calc(270 / var(--rem-base) * 1rem);
  --toc-top: calc(var(--body-top) + var(--toolbar-height));
  --toc-height: calc(100vh - var(--toc-top) - 2.5rem);
  --toc-width: calc(162 / var(--rem-base) * 1rem);
  --toc-width--widescreen: calc(216 / var(--rem-base) * 1rem);
  --doc-max-width: calc(720 / var(--rem-base) * 1rem);
  --doc-max-width--desktop: calc(828 / var(--rem-base) * 1rem);
  --toc-width: 12rem;
  --toc-spacer: 0.75rem;
  --toc-top: calc(var(--navbar-height) + var(--toolbar-height) + var(--toc-spacer));
  /* stacking */
  --z-index-nav: 1;
  --z-index-toolbar: 2;
  --z-index-page-version-menu: 3;
  --z-index-navbar: 4;
}
